*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    padding: 0;
    margin: 0;
    background-color: rgb(37, 39, 41);;
    color: #e8e6e3;
}

body {
    font-size: 1.5vw;
    font-weight: 400;
    min-width: 16em;
    overflow-x: hidden;
    font-family: Malgun Gothic, sans-serif;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;

}

main {
    max-width: 48em;
    width: 55%;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: justify;
}

content {
    margin: 1em;
    display: block;
}

.smaller {
    font-size: 0.9em;
}

div {
    display: block;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a {
    color: aquamarine;
    text-decoration: none;
    cursor: pointer;
    transition: filter 0.3s;
}

a:hover {
    color: inherit;
    text-decoration: underline;

    text-shadow: none;
    box-shadow: none;
    filter: none;
    transition: all 0.3s;
}

hl {
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    display: block;
    border-bottom: solid .1em rgb(69, 139, 124);
}

h {
    font-size: 1.1em;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

ul {
    list-style: none;
}

li {
    margin-bottom: .1em;
    margin-top: .1em;
}

input[type="submit"] {
    font-family: inherit;
    font-size: 1em;
    border: solid .1em #536868;
    margin: .1em;
    background-color: #2b3533;
    padding: .1em;
}

input[type="submit"]:hover {
    background-color: #536865;
    transition: background-color .3s;
}

ul.slash li::before {
    content: "/";
    margin-right: 0em;
}

@media screen and (max-width: 49em) {
    body {
        font-size: 80%;
    }

    main {
        width: 80%;
    }
}

::-webkit-scrollbar {
    height: .7em;
    width: .7em;
    background: transparent;
    z-index: auto;
    overflow: visible;
}

::-webkit-scrollbar-thumb {
    width: .7em;
    background-color: rgba(0, 0, 0, 0.3);
    
    z-index: auto;
    border: .17em solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    margin: .17em;
}

::-webkit-scrollbar-thumb:hover {
    width: .7em;
    background-color:rgba(0, 0, 0, 0.5);
    
    z-index: auto;
    border: .1em solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    margin: .1em;
}

::-webkit-scrollbar-thumb:hover:active {
    width: .7em;
    background-color:rgba(0, 0, 0, 0.7);
    
    z-index: auto;
    border: .1em solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    margin: .1em;
}