<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>
    <main>
        <h><a href="/">To the main page</a></h>
        <form action="/configure_path" method="post">
            <p>Share name: <monospace>{{share_name}}</monospace></p>
            <pl>Path: <monospace>{{dst_name}}</monospace></pl>
            <content class="smaller">
                {% if go_back %}
                <input type="submit" name="go_back" value="Go back">
                {% endif %}
                {% if dirs %}
                <content class="smaller">
                    <monospace>
                        <ul class="slash">
                            {% for dir in dirs %}
                                <li>
                                    <!--<a href="/configure_path/{{ dir }}">{{ dir }}</a>-->
                                    <input type="submit" name="dir" value="{{dir}}">
                                </li>
                            {% endfor %}
                        </ul>
                    </monospace>
                </content>
                {% endif %}
                {% if submit_button %}
                <input type="submit" name="submit_button" value="Submit changes">
                <input type="submit" name="submit_button" value="Go to default path">
                {% endif %}
            </content>
        </form>
    </main>
</body>
</html>